<h3>以下の内容で送信します</h3>
<%= form_with(model: @blog, local:true) do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :content %>
  <%= form.hidden_field :image %>
  <%= form.hidden_field :image_cache %>


  <div class="field">
  <p>本文:<%= @blog.content %></p>
  <p>Image:<%= image_tag @blog.image.url %></p>
  </div>

<div class="actions">
  <%= form.submit "投稿する"%>
  <%= form.submit "もどる", name: 'back' %>
</div>
<% end %>