<h3>以下の内容で送信します</h3>
<%= form_with(model: @blog, local:true) do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :contenr %>


  <div class="field">
  <p>タイトル:<%= @blog.title %></p>
  <p>本文:<%= @blog.content %></p>
  </div>

<div class="actions">
  <%= form.submit "登録する"%>
</div>
<% end %>