<h4 class=" col-6 pt-3 pb-1">
  <% if logged_in? %>
    <%= link_to '+New Blog', new_blog_path, class:"btn btn-outline-primary" %>
  <% end %>
</h4>

    <% @blogs.each do |blog| %>
    
    <div class="blog_block">
      <div class="block_text">
        <div class="name"><i class="fa-solid fa-user"></i> <%= blog.user.name.truncate(14) %></div>
        <div class="date"><%= blog.created_at.strftime("%y-%m-%d %H:%M") %></div>
        <div class="text"><%= blog.content.truncate(140) %>
          <% if blog.image.file != nil %>
          <div class="in-pict">
            <%= image_tag blog.image.url %>
          </div>
          <% end %>
        </div>
        
        
        <div class="icons">
          <% if blog.user == current_user %>
            <span class="edit">
              <span class="tooltips">編集</span>
              <%= link_to edit_blog_path(blog.id) do %>
                <i class="fa-solid fa-pen-to-square"></i>
              <% end %>
            </span>
            <span class="delete">
              <span class="tooltips">削除</span>
              <%= link_to blog_path(blog.id), method: :delete, data: { confirm: '投稿を削除してよろしいですか？'} do %>
                <i class="fa-sharp fa-solid fa-trash"></i>
              <% end %>
            </span>
          <% end %>

          <span class="show">
            <span class="tooltips">詳細</span>
            <%= link_to blog_path(blog.id) do %>
              <i class="fa-solid fa-file"></i>
            <% end %>
          </span>
        </div>
      </div>
    </div>
  
    <% end %>
<br>

